# OS
.DS_Store
**/.DS_Store

# Editor
.idea/
.vscode/

# Unity
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/

# Visual Studio / Rider
*.csproj
*.sln
*.user
*.userprefs

# Unity-generated
*.pidb
*.booproj
*.svd
*.unityproj
*.tmp

